@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-light-background text-light-text dark:bg-dark-background dark:text-dark-text;
    font-family: 'Sora', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-light-background dark:bg-dark-background;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-accent-blue/50 rounded-full hover:bg-accent-blue;
  }
}
